@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Jost, Arial, "Helvetica Neue", Helvetica, sans-serif;
  /*border: 1px solid red;*/
}


#TituloProg {

  color: #FFFFFF;
  width: 100%;
  padding: 0px 0px;
  margin: 30px 40px 30px 0px;
  font-size: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;

}

a {
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}

a:hover {
	text-decoration: none;
}

/* ------------------------------------ */
h1,h2,h3,h4,h5,h6 {margin: 0px;}

p {margin: 0px;}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/* ------------------------------------ */
input {
  display: block;
	outline: none;
	border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

/* ------------------------------------ */
button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

.limiter {
  width: 70%;
  margin: 0 auto;
}

.container-table100 {
  width: 70%;
  min-height: 100vh;
  background: #c850c0;
  background: -webkit-linear-gradient(45deg, #4158d0, #c850c0);
  background: -o-linear-gradient(45deg, #4158d0, #c850c0);
  background: -moz-linear-gradient(45deg, #4158d0, #c850c0);
  background: linear-gradient(45deg, #4158d0, #c850c0);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: 700px;
}


table {
  border-spacing: 1;
  border-collapse: collapse;
  background: white;
  border-radius: 10px;
  overflow: hidden;
  width: 75%;
  margin: 30px auto;
  position: relative;
  align-items: center;
  justify-content: center;
}
table * {
  position: relative;
}
table td, table th {
  padding-left: 8px;
}
table thead tr {
  height: 60px;
  background: #2467a7;
}
table tbody tr {
  height: 50px;
}
table tbody tr:last-child {
  border: 0;
}
table td, table th {
  text-align: left;
}
table td.l, table th.l {
  text-align: right;
}
table td.c, table th.c {
  text-align: center;
}
table td.r, table th.r {
  text-align: center;
}


.table100-head th{
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}

tbody tr {
  font-family: OpenSans-Regular;
  font-size: 15px;
  color: #808080;
  line-height: 1.2;
  font-weight: unset;
}

tbody tr:hover {
  color: #555555;
  background-color: #f5f5f5;
  cursor: pointer;
}

.column1 {
  width: 180px;
  text-align: center;
}

.column2 {
  width: auto;
  text-align: center;
}

.column3 {
  width: auto;
  text-align: center;
}

.column4 {
  width: auto;
  text-align: center;
}

.column5 {
  width: auto;
  text-align: center;
}

.column6 {
  width: auto;
  text-align: center;
}



/* contatos */
.listaContatos{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.listaContatos ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.listaContatos li {
  margin-bottom: 5px;
}

.listaContatos a {
  text-decoration: none;
  color: black;
}