@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: Jost,Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body{
    background-color: rgb(61, 179, 245);
}
.principal{

    align-items: center;

}
.cabeca{
    display: flex;
}

.cabeca a img{
    height: 80px;
	width:200px;
    margin-left: 30%;
}

.navmain{
    padding: 0%;
    background-color: rgb(6, 163, 252);
    height: 40px;
    width:100%;
    text-transform: uppercase;
}
.navegacao ul li{
	float: left;
	display: inline;
	width: 250px;
	text-align: center;
	font-size: 12px;
	line-height: 40px;
	position: relative;
	font-weight: bold; 	
}
.navegacao  nav ul li a {
	color: white;
	text-decoration: none; 
}

.navegacao  ul li:hover {
	transition: background .6s;
	background: rgba(0, 0, 0, 0.205);
	color: white;
}
.navegacao  nav ul li a:hover {
	color:white;
}

.navegacao  nav ul ul li:hover a{
	background: rgba(0, 0, 0, 0.326);
	
}
.navegacao  nav ul ul li a {
	color: black;
	text-decoration: none;
      
}
.navegacao  nav ul ul li a:hover {
	color: white;
}

.navegacao  ul ul{
	display: none;
	
}
.navegacao  ul li:hover ul{
 	display: block;
}

.navegacao  ul ul li a{
	font-weight:lighter ;   
	display: block;
	transition:  .6s;
}
.login-cadastro {
    display: flex;
    width: 8%;
    align-items: center;
    overflow-wrap: break-word;
    text-transform: uppercase;
}

.login-cadastro ul{
    width: 7%;
    position: absolute;
    left: 1070px;    
    margin-left: 10px;
    text-align: justify;
    font-size: 10px;
    overflow-wrap: break-word;
}

.login-cadastro ul a {
    color: white;
}
#user {
    cursor: pointer;
    width: 37px; 
    height: 37px; 
    left: 1039px; 
    top: 34px; 
    position: absolute; 
    border-radius: 7px;
}
.conteudo{
    background-color: rgb(40, 40, 40);
    height: 90vh;
}
.conteudo img{
    width: 24px; 
    height: 61px;
    position: absolute;
    top: 336px;
}
#imgdir{
    left: 1210px;
    cursor: pointer;
}
#imgesq{
    left: 50px;
    cursor: pointer;
}

#cartaz{
    width: 107px; 
    height: 25px; 
    left: 387px; 
    top: 150px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 16px; 
    font-family: Jost; 
    font-weight: 400;
    cursor: pointer;
    word-wrap: break-word;
}
#breve{
    width: 107px; 
    height: 25px; 
    left: 760px; 
    top: 150px; 
    position: absolute; 
    text-align: center; 
    color: white; 
    font-size: 16px; 
    font-family: Jost; 
    font-weight: 400; 
    cursor: pointer;
    word-wrap: break-word;
}
#barraCartaz{
    display: block;
    width: 107px; 
    height: 3px; 
    left: 386px; 
    top: 176px; 
    position: absolute; 
    background: #3DB3F5; 
    border-radius: 2px;
}
#barraBreve{
    display: none;
    width: 107px; 
    height: 3px; 
    left: 756px; 
    top: 176px;  
    position: absolute; 
    background: #3DB3F5; 
    border-radius: 2px;
}
#f1{/*nome do filme*/
    cursor: pointer;
    left: 150px; 
    top: 540px; 
    position: absolute; 
    text-align: center; 
    color: #C5C5C5; 
    font-size: 11px; 
    font-family: Jost; 
    font-weight: 700; 
    word-wrap: break-word;
}
#f2{
    left: 483px; 
    top: 540px; 
    position: absolute; 
    text-align: center; 
    color: #C5C5C5; 
    font-size: 11px; 
    font-family: Jost; 
    font-weight: 700; 
    word-wrap: break-word;
}
#f3{
    left: 741px; 
    top: 540px; 
    position: absolute; 
    text-align: center; 
    color: #C5C5C5; 
    font-size: 11px; 
    font-family: Jost; 
    font-weight: 700; 
    word-wrap: break-word;
}
#f4{
    left: 1001px; 
    top: 540px; 
    position: absolute; 
    text-align: center; 
    color: #C5C5C5; 
    font-size: 11px; 
    font-family: Jost; 
    font-weight: 700; 
    word-wrap: break-word;
}
.emcartazf1{
    cursor: pointer;
    width: 207px; 
    height: 311px; 
    left: 142px; 
    top: 219px; 
    position: absolute;
}
.emcartazf1 img{
    cursor: pointer;
    width: 211px; 
    height: 313px; 
    left: 0px; 
    top: -2px; 
    position: absolute
}
#cartazf1{/*fundo do filme*/
    width: 207px; 
    height: 311px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: white;
}
.emcartazf2{
    width: 207px; 
    height: 311px; 
    left: 405px; 
    top: 219px; 
    position: absolute;
}
.emcartazf2 img{/*iamgem do filme*/

    width: 211px; 
    height: 313px; 
    left: 0px; 
    top: -2px; 
    position: absolute; 
    background: white
}
#cartazf2{
    width: 207px; 
    height: 311px; 
    left: 0px; 
    top: 0px; 
    position: absolute
}
.emcartazf3{
    width: 207px; 
    height: 311px; 
    left: 669px; 
    top: 219px; 
    position: absolute;
}
.emcartazf3 img{
    width: 211px; 
    height: 313px; 
    left: 0px; 
    top: -2px; 
    position: absolute;
}
#cartazf3{
    width: 207px; 
    height: 311px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: white;
}

.emcartazf4{
    width: 207px; 
    height: 311px; 
    left: 932px; 
    top: 219px; 
    position: absolute;
}
.emcartazf4 img{
    width: 211px; 
    height: 313px; 
    left: 0px; 
    top: -2px; 
    position: absolute;
}
#cartazf4{
    width: 207px; 
    height: 311px; 
    left: 0px; 
    top: 0px; 
    position: absolute; 
    background: white;
}

.contatos {
    position: absolute;
    color:black;
	font-size: 80%;
	padding-top: 10px;  
    margin-left: 5%;
}
.contatos aside h3{
    color: rgb(0, 0, 0);
	font-size: 20px;
}
.contatos aside ul {
    list-style: none;
	padding-right: 20px;
}
.contatos aside ul li a{
    text-decoration: none;  
	padding: 10px 5px 5px 5px;
    color: w; 
	transition: background .6s;
}
.contatos aside ul li a:hover{
	color: #000000;
}
.contatos ul li img{
    vertical-align: middle;
    padding-right: 5px;
    height:25px;
	width:30px;
}



/* For smaller screens */
@media only screen and (max-width: 600px) {
    /* Adjust styles here */
    .cabeca a img {
        /* Update image size or margins for smaller screens */
        height: 60px;
        width: 150px;
        margin-left: 10%;
    }
    /* ... Other responsive adjustments ... */
}

/* For larger screens */
@media only screen and (min-width: 1200px) {
    /* Adjust styles here */
    .cabeca a img {
        /* Update image size or margins for larger screens */
        height: 100px;
        width: 250px;
        margin-left: 20%;
    }
    /* ... Other responsive adjustments ... */
}
#clicavel{
    cursor: pointer;
    }
    
    #clicavel:hover{
    color: red;
    }
    
    #clicavel:active{
    color: blue;
    }