.containerAdm {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(4, 129, 201);
    width: 100%;
}

.botoes-adm {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

button {
    margin: 0 10px;
}

.telas {
    display: flex;
    justify-content: space-around;
}

.telaAdmFilmes,
.telaAdmUsuario {
    flex: 1;
    display: none; /* Oculta as telas de filmes e usuários por padrão */
}

.telaAdmFilmes {
    display: block;
    
}

/* Estilos CSS para as tabelas */
table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

th, td {
    word-wrap: break-word;
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    white-space: nowrap;
}
