.container {
   text-align: left;
   padding: 30px;
   max-width: 1000px;
   /* Defina um valor adequado para a largura máxima da caixa */
   margin: 10px auto 0;
   /* Margem de 50px superior, 0 nas laterais, e automática na inferior */
   /*border: 2px solid #ffffff; /* Cor da borda azul claro */
   /* background-color: #69e0ef; */
   color: rgb(255, 255, 255);
}

.container p{
   text-align: justify;
   hyphens: auto;
}