@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@700&display=swap');
*{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
    font-family: Jost, Arial, "Helvetica Neue", Helvetica, sans-serif;
}
body {
    background-color: rgb(61, 179, 245);
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}/* Estilos para telas maiores */

/* Estilos para telas maiores */
.conteudo {
    display: flex;
    align-items: center; /* alinhar itens verticalmente */
}

/* Estilos para telas maiores */
.logo {
    width: 50%; /* ajuste conforme necessário */
    max-width: 500px; /* largura máxima para a imagem */
    max-height: 450px; /* altura máxima para a imagem */
    margin-right: 20px; /* espaço entre a imagem e as divs */
}
.logins {
    width: 50%;
    display: flex;
    margin: 10px;
    padding: 20px;
    background-color: rgb(6, 163, 252);
  }

.container {

    width: 50%; /* ajuste conforme necessário */
    padding: 30px 10px;
}
h2{
    text-align: center;
    margin: 20px;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

input{
    width: 100%;
    height: 46px;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: white;
}

.input-field{
    position: relative;
    margin-bottom: 20px;
    margin-top: 35px;
}

label{
    position: absolute;
    top:0;
    left: 0;
    color: black;
    transform: translateY(18px);
    transition: .25s ease-in-out;
}

input:focus + label{
    transform: translateY(-14px) scale(.8);
    color:#0b0c0c
}

input:focus{
    box-shadow: 0 1px 0 0 #26a96a;
    border-bottom: #26a96a 1px solid;
}

.center{
    text-align: center;
}

.container button{
    background: transparent;
    padding:10px 20px;
    border-radius: 20px;
    color: rgb(0, 0, 0);
    text-transform: uppercase;
    border:2px solid rgb(0, 0, 0);
    margin: 10px;
    cursor: pointer;
    transition: ease-in-out .25s;
}

.container button:hover{
    background: rgba(255, 255, 255, 0.459);
    color: black;
}

.container a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: .25s ease-in-out;
}

.container a:hover{
    color:#26a96a;
}

input:not(:placeholder-shown){
    box-shadow: 0 1px 0 0 #26a96a;
    border-bottom: #26a96a 1px solid;
}

input:not(:placeholder-shown) + label{
    transform: translateY(-14px) scale(.8);
}

input::placeholder{
    color:transparent;
}
.links-uteis a :hover{
    color:black;
}

.password-field {
    position: relative;
}

.password-field input[type="password"] {
    padding-right: 30px; /* Adicione um espaço para o ícone do olho */
}

.password-field .olho {
    width: 8%;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.contasSociais {
    flex: 1; /* ocupa o espaço restante */
    align-items: center;
    padding: 30px 10px;
}
.contasSociais h2{
    text-align: center;
    color: white;
    font-size: 14px;
    text-transform: uppercase;
}

.contasSociais button{
    display: flex;
    align-items: center;
    width: 100%;
    padding:5px;
    cursor: pointer;
    transition: ease-in-out .25s;
}

.facebookbutton{
    margin-top: 60px;
    background-color: #3b5998; /* Cor do Facebook */
    color: #fff; /* Cor do texto */
}
.googlebutton {
    margin-top: 10px;
    background-color: #fff; /* Cor branca */
    color: #000; /* Cor do texto */
    border: 1px solid #000; /* Adiciona uma borda preta */
}
.contasSociais img {
    margin-right: 20px;
    float: left;
    width: 10%;
}
/* Estilos para tornar o layout responsivo em telas menores */
@media screen and (max-width: 768px) {
    .conteudo {
        flex-direction: column; /* muda para empilhar em telas menores */
        align-items: center; /* centralizar itens horizontalmente */
        text-align: center; /* centralizar texto */
    }

    .logo {
        width: 50%; /* ajuste conforme necessário */
        margin-bottom: 20px; /* espaço entre a imagem e as divs */
    }

    /* Outros ajustes para telas menores, se necessário */
}

